extends base.pug

block style
    style 
        include ../static/base.css
        include ../static/about.css

block content 
    section#about-section 
        h1 ABOUT US
    section#info-section
        h2 India's No-1 Website 
            span CHEF FOOD
        div#info
            img(src="../img/info1.jpg")
            div.intro
                h2 Who We Are
                h1 About Our Company
                p CHEF FOOD having high-quality, expertly roasted coffee from around the world, ground to order. CHEF FOOD serves some of the best meals in the Al Tawar area. We believe that everyone is entitled to good, clean, whole, healthy food.
                
    section#more-info 
        h1 More Info
        div.box
            h1 OUR VISION
            p Our vision is very simple: Our vision describes the reason why our business exists, and it is to serve you the highest quality of food in a fast, well presented, and healthy way and to be well known in the whole Emirates as your go-to cafeteria to feed your bellies.

        
             
            
        


    